[user]
  name = Svetlozar Mihailov
  email = svetliomihailov@gmail.com

#[github]
#  user = svetliomihailov

[alias]
 lol = log --oneline --graph --decorate
 oneline = log --oneline --decorate -24
 st = status --short
 stt = status
 ammend = comit --ammend
 co = checkout
 cb = checkout -b
 ci = commit --verbose

[core]
  editor = vim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[pager]
  log = off
  show = off
  diff = off

[branch]
  autosetuprebase = always

[push]
  default = tracking

[diff]
  tool = vimdiff
  noprefix = true

[merge]
  tool = vimfiff
  #ff = false

[help]
#  autocorrect = 1

[color]
#  ui = on

[difftool]
#  prompt = false
