[user]
  name = Svetlozar Mihailov
  email = svetliomihailov@gmail.com

#[github]
#  user = svetliomihailov

[alias]
 lol = log --oneline --graph --decorate
 oneline = log --oneline --decorate -24
 st = status --short
 stt = status
 ammend = commit --ammend
 co = checkout
 cb = checkout -b
 ci = commit --verbose

[core]
  editor = vim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[pager]
  log = off
  show = off
  diff = off

[branch]
  autosetuprebase = always

[pull]
  rebase = true

[push]
  default = tracking

[diff]
  tool = vimdiff
  noprefix = true

[merge]
  tool = vimfiff
  # force git to create a merge comit even if the merge is resolved as fast forward
  ff = false

[help]
  autocorrect = 50

[color]
  # allows the output to be colored!
  ui = on

[difftool]
  # prompt before each invocation of the diff tool
  prompt = false

[color "branch"]
  current = green
  local = yellow
  remote = red

[color "diff"]
  # meta = yellow
  # frag = yellow
  old = red
  new = green
  # whitespace = red reverse

[color "status"]
  added = green
  changed = yellow
  untracked = red

